{% extends "base.html" %} {% load static %} {% block content %}

<section class="dashboard">
  <h2 class="dashboard-title">Dashboard</h2>
  <p class="dashboard-description">Welcome {{ user.first_name }}. Here you can view the statistics of the election.</p>


  <section class="button">
    <div class="button-container">
      <h2>Toggle Action</h2>
      <p>The action is currently: {{ voting_status.can_vote|yesno:"Active,Inactive" }}</p>
      <form method="post" action="{% url 'toggle-voting-status' %}">
        {% csrf_token %}
        <button type="submit" class="toggle-button">
          {% if voting_status.can_vote %}
            Stop Voting
          {% else %}
            Start Voting
          {% endif %}
        </button>
      </form>
    </div>
  </section>
</section>

<section class="positions-dashboard">
  <div class="position-card">
    <h3 class="position-name">Registered Voters</h3>
    <p class="position-description">{{ registered_voters }}.</p>
  </div>
  <div class="position-card">
    <h3 class="position-name">Positions</h3>
    <p class="position-description">{{ positions }}.</p>
  </div>
  <div class="position-card">
    <h3 class="position-name">Candidates</h3>
    <p class="position-description">{{ candidates }}.</p>
  </div>
  <div class="position-card">
    <h3 class="position-name">Total Votes</h3>
    <p class="position-description">{{ total_votes }}.</p>
  </div>
  <div class="position-card">
    <h3 class="position-name">Total Voters</h3>
    <p class="position-description">{{ total_voters }}.</p>
  </div>
</section>
<section class="winners">
  <h2 class="winners-title">Winners</h2>

  <div class="winners-container">
    {% for winner in winners %}

    <div class="position-card">
        <h5 class="position-name">Position: {{ winner.position_name }}</h5>
        <p class="position-description">Candidate: {{ winner.winner_name }}.</p>
        <p class="position-description">Votes: {{ winner.winner_votes }}.</p>
    </div>

    {% endfor %}
  </div>
</section>


{% endblock content %}
