{% extends "base.html" %}
{% load static %} {% block title %} Vote Here {% endblock title %} {% block content %}
<!-- Hero -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Empower Your Voice</h1>
    <p class="hero-description">Vote for the candidates who represent your values and make a difference in your community.</p>
    <div class="hero-buttons">
      <a href="#" class="btn">Check Results</a>
      <a href="#" class="btn">See Candidates</a>
    </div>
  </div>
  <div class="hero-image">
    <img src="{% static 'image/hero-image.png' %}" alt="Students voting" />
  </div>
</section>

<!-- Vote List -->
<section class="positions">
  <div class="positions-header">
    <h2 class="positions-title">Contested Positions</h2>
    <p class="positions-description">Explore the positions being contested and make your vote count!</p>
  </div>
  <div class="positions-list">
    {% for position in positions %}
    <div class="position-card">
      <h3 class="position-name">{{ position.name }}</h3>
      <p class="position-description">{{ position.description }}</p>
      <a href="{% url 'vote-detail' position.id %}" class="vote-btn">View Candidates</a>
    </div>
    {% endfor %}
    <!--
    <div class="position-card">
      <h3 class="position-name">Secretary</h3>
      <p class="position-description">Manage records and facilitate communication across teams.</p>
      <a href="#" class="btn vote-btn">Vote</a>
    </div>
    <div class="position-card">
      <h3 class="position-name">Vice President</h3>
      <p class="position-description">Support the president and oversee student activities.</p>
      <a href="#" class="btn vote-btn">Vote</a>
    </div>
    <div class="position-card">
      <h3 class="position-name">Secretary</h3>
      <p class="position-description">Manage records and facilitate communication across teams.</p>
      <a href="#" class="btn vote-btn">Vote</a>
    </div>
    <div class="position-card">
      <h3 class="position-name">Secretary</h3>
      <p class="position-description">Manage records and facilitate communication across teams.</p>
      <a href="#" class="btn vote-btn">Vote</a>
    </div>
    <div class="position-card">
      <h3 class="position-name">Secretary</h3>
      <p class="position-description">Manage records and facilitate communication across teams.</p>
      <a href="#" class="btn vote-btn">Vote</a>
    </div>
    -->
  </div>
</section>

<!-- About Election -->
 <section class="about-election">
  <h2 class="about-title">About the Election</h2>
  <p class="about-description">
    This election is an opportunity for students to choose their leaders who will represent their interests and drive change. Every vote matters!
  </p>
</section>

{% endblock content %}
