{% extends "base.html" %}
{% load static %}
{% block title %}
  Vote Details
{% endblock title %}
{% block content %}
<!-- Header -->
  <header class="detail-header">
  <h1 class="detail-title">Position: {{ position.name }}</h1>
  <p class="detail-description">
    Learn more about the candidates running for this position and cast your vote to make a difference.
  </p>
</header>
{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<!-- Candidates -->
<section class="candidates-section">
  <h2 class="candidates-title">Candidates for {{ position.name }}</h2>
  <div class="candidates-container">
    {% for candidate in candidates %}
    <div class="candidate-card">
      <!-- <img src="{{ candidate.image }}" alt="Candidate Image" class="candidate-image"> -->
      <img src="https://drive.google.com/open?id=1EhYq8SjgnQob3m3dNWbj04uf6RwJqb91" alt="Candidate Image" class="candidate-image">
      <div class="candidate-details">
        <h3 class="candidate-name">{{ candidate.name }}</h3>
        <p class="candidate-position">Running for: {{ position.name }}</p>
        <p class="candidate-bio">{{ candidate.introduction }}</p>
        <a href="{% url 'votes' candidate.id %}" class="candidate-vote-btn">Vote</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock content %}